body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3a7aa;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}
.name{
    width: 100%;
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #3f8295;
}
p{
    margin: 0;
    text-align: right;
}
.screen p{
    margin: 0;
    width: 100%;
    border-bottom: 2px solid #a3a7aa;
    text-align: right;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
.mainBox{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    padding: 0px 20px 20px 20px;  
    flex-direction: column;
    gap: 20px;
    border: 5px solid #024e99;
    border-radius: 5px;
}
.screen{
    background-color: snow;
    display: flex;
    justify-content: right;
    overflow: hidden;
    font-size: 40px;
    border: 5px solid #a3a7aa;
    border-radius: 5px;
    padding: 20px 20px;
    width: 240px;
    text-align: right;

}

.secondBox{
    display:flex;  
}
.numbers{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.numbersSeconds{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.numbersSeconds button{ /* botones 1 arriba */
    background-color: #eeeff3;
    font-size: x-large;
    font-weight: 900;
    color: #024e99;
    border: 2px solid #d7dfe2;

}
.numbersSpecial{
    display: flex;
    gap:10px;
    padding-top: 10px;
}
button{
    background-color: #808080;
}
.numbersSpecial button{ /* botones 1 abajo*/
    background-color: #eeeff3;
    font-size:xx-large;
    font-weight: 900;
    color: #024e99;
    border: 2px solid #d7dfe2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
button{
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    filter: brightness(80%);
}
.bigButton{
    width: 110px;
}
.operations{
    display: flex;
    gap: 10px;
}
.operationsSeconds{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.operationsSeconds button{ /* bonotes 2 izq*/
    font-size: x-large;
    font-weight: 900;
    border: 2px;
    color: white;

}
.operationsSpecial{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.operationsSpecial button{ /* botones 2 derch*/
    font-size: x-large;
    font-weight: 900;
    border: 2px;
    color: white;

}

.clearButton{ /* boton borrado*/
 background-color: red ;
 color: white;
} 
.equalButton{
    height:  110px;
    background-color:#024e99;
    color: white;

}
